[Unit]
Description=A Simple YOLO Inference Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=siyolo
Group=siyolo

SyslogIdentifier=siyolo

WorkingDirectory=/opt/siyolo
ExecStart=/opt/siyolo/venv/bin/python3.10 /opt/siyolo/main.py

Restart=always
RestartSec=5

Nice=-1
CPUAffinity=3
CPUQuota=100%

Environment=TMPDIR=/dev/shm
Environment=PYTHONUNBUFFERED=1
Environment=YOLO_MODEL=yolov8x.pt
Environment=MPLCONFIGDIR=/opt/siyolo/.config/matplotlib
Environment=YOLO_CONFIG_DIR=/opt/siyolo/.config/Ultralytics
Environment=YOLO_VERBOSE=False

Environment=OMP_NUM_THREADS=1
Environment=OPENBLAS_NUM_THREADS=1
Environment=MKL_NUM_THREADS=1
Environment=NUMEXPR_NUM_THREADS=1
Environment=PYTORCH_CUDA_ALLOC_CONF=max_split_size_mb:128

IOSchedulingClass=best-effort
IOSchedulingPriority=7

OOMScoreAdjust=-200

TimeoutStopSec=90
KillSignal=SIGTERM
KillMode=control-group

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
RestrictRealtime=true
RestrictNamespaces=true
LockPersonality=true
MemoryDenyWriteExecute=true

LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
